### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# html files
*.html

# Unit test / coverage reports
.pytest_cache/

# Environments
atemlos_venv/

# Config
config/

# Logs
logs/
log*

# Data
data/

# Temporary exclusions
LICENSE.txt
README.txt
